<mat-card class="cardWithShadow b-1 rounded p-20 p-b-10 m-b-6">
    <h4 class="text-muted m-b-20">Paramètres de recherche</h4>

    <div class="row m-0 p-0  ">
        <div class="col-12 col-md-6 col-lg-2 m-0 p-0 padr">
            <label class="f-s-14 f-w-600  ">Exercice</label>
            <mat-form-field appearance="outline" class="w-100    ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-4 m-0 p-0 padr">
            <label class="f-s-14 f-w-600  ">Projet de Budget</label>
            <mat-form-field appearance="outline" class="w-100  ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>


        <div class="col-12 col-md-6 col-lg-6 m-0 p-0">
            <label class="f-s-14 f-w-600  ">Section</label>
            <mat-form-field appearance="outline" class="w-100   ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>
    </div>

    <div class="row m-0 p-0  ">
        <div class="col-12 col-md-6 col-lg-2 m-0 p-0 padr">
            <label class="f-s-14 f-w-600  ">Type de financement</label>
            <mat-form-field appearance="outline" class="w-100   ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>

        <div class="col-12 col-md-6 col-lg-4 m-0 p-0 padr">
            <label class="f-s-14 f-w-600  ">Catégorie de dépenses </label>
            <mat-form-field appearance="outline" class="w-100  ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>


        <div class="col-12 col-md-6 col-lg-6 m-0 p-0">
            <label class="f-s-14 f-w-600  ">Programme</label>
            <mat-form-field appearance="outline" class="w-100  ">
                <mat-select formControlName="default_template" disableOptionCentering placeholder="">
                    @for (template of templates; track template) {
                    <mat-option [value]="template">
                        {{ template }}
                    </mat-option>
                    }
                </mat-select>

            </mat-form-field>
        </div>
    </div>


    <mat-accordion class="b-1 rounded  m-b-10 ">
        <mat-expansion-panel class="background-light-bleu">
            <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-14 gap-4">
                    <i class="iconify f-s-15 d-flex  " data-icon="solar:inbox-linear"></i>

                    <h4 class=" "> Enveloppes</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row ">
                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="p-6 light-bleu rounded w-100">
                        <h4 class="text-muted  f-s-14 text-primary "> Enveloppe AE</h4>

                        <div class="row m-0 p-t-15  ">
                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0 padr">
                                <label class="f-s-14 f-w-600  ">Total</label>
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="100 000 000" />
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0 padr">
                                <label class="f-s-14 f-w-600  ">Reparti</label>
                                <mat-form-field appearance="fill" class="w-100">
                                    <input matInput class="text-end" placeholder="100 000 000" />
                                </mat-form-field>
                            </div>


                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0">
                                <label class="f-s-14 f-w-600  ">Disponible</label>
                                <mat-form-field appearance="fill" class="w-100">
                                    <input matInput placeholder="100 000 000" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12 ">
                    <div class="p-6 bg-light-success rounded w-100">
                        <h4 class="text-muted  f-s-14 text-success "> Enveloppe Cp</h4>

                        <div class="row m-0 p-t-15  ">
                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0 padr">
                                <label class="f-s-14 f-w-600  ">Total</label>
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="100 000 000" />
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0 padr">
                                <label class="f-s-14 f-w-600  ">Reparti</label>
                                <mat-form-field appearance="fill" class="w-100">
                                    <input matInput class="text-end" placeholder="100 000 000" />
                                </mat-form-field>
                            </div>


                            <div class="col-12 col-md-12 col-lg-4 m-0 p-0">
                                <label class="f-s-14 f-w-600  ">Disponible</label>
                                <mat-form-field appearance="fill" class="w-100">
                                    <input matInput placeholder="100 000 000" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <label class="f-s-14 f-w-600  ">Source de financement</label>
    <mat-form-field appearance="outline" class="w-100    ">
        <mat-select formControlName="default_template" disableOptionCentering placeholder="Select template">
            @for (template of templates; track template) {
            <mat-option [value]="template">
                {{ template }}
            </mat-option>
            }
        </mat-select>

    </mat-form-field>


</mat-card>

<mat-card class="cardWithShadow b-1 rounded p-20 p-b-20">
    <div class="row align-items-center justify-content-between">
     <h4 class="text-muted p-b-20 col-12 col-lg-2 col-md-2">Saisie / Mise à jour </h4>
   <!--  <div class="col-12 col-lg-10 col-md-10 row align-items-center "> -->
       <!--  <label class="col-12 col-lg-4 col-md-4 f-s-14 f-w-600  ">Rechercher un chapitre </label> -->
        <mat-form-field appearance="outline" class="col-12 col-lg-8 col-md-8 w-100">
            <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher  un  chapitre ..." #input>
        </mat-form-field>
   <!--  </div> -->
   </div>


    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="custom-table">

        <!-- CODE -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef class="bg-primary text-white fw-bold"> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- LIBELLE -->
        <ng-container matColumnDef="libelle">
            <th mat-header-cell *matHeaderCellDef class="bg-primary text-white fw-bold"> Libellé </th>
            <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
        </ng-container>

        <!-- AE -->
        <ng-container matColumnDef="ae">
            <th mat-header-cell *matHeaderCellDef class="text-end bg-primary text-white fw-bold"> Montant AE </th>
            <td mat-cell *matCellDef="let element" class="text-end">
                {{element.ae | number}}
            </td>
        </ng-container>

        <!-- SRC AE -->
        <ng-container matColumnDef="srcAe">
            <th mat-header-cell *matHeaderCellDef class="text-end bg-primary text-white fw-bold"> Dont SRC </th>
            <td mat-cell *matCellDef="let element" class="text-end">
                {{element.srcAe | number}}
            </td>
        </ng-container>

        <!-- CP -->
        <ng-container matColumnDef="cp">
            <th mat-header-cell *matHeaderCellDef class="text-end bg-primary text-white fw-bold"> Montant CP </th>
            <td mat-cell *matCellDef="let element" class="text-end">
                {{element.cp | number}}
            </td>
        </ng-container>

        <!-- SRC CP -->
        <ng-container matColumnDef="srcCp">
            <th mat-header-cell *matHeaderCellDef class="text-end bg-primary text-white fw-bold"> Dont SRC </th>
            <td mat-cell *matCellDef="let element" class="text-end">
                {{element.srcCp | number}}
            </td>
        </ng-container>

        <!-- EXPAND ICON -->
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef class="bg-primary text-white fw-bold"></th>
            <td mat-cell *matCellDef="let element" class="expand-cell">

                <button mat-icon-button (click)="toggle(element); $event.stopPropagation()">

                    <mat-icon>
                        {{expandedElement === element ? 'expand_less' : 'expand_more'}}
                    </mat-icon>

                </button>

            </td>
            
        </ng-container>
        
	
        <!-- HEADER -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- ROW -->
        <tr mat-row *matRowDef="let element; columns: displayedColumns" class="data-row"
            [class.expanded-row]="expandedElement === element" (click)="toggle(element)">
        </tr>

        <!-- DETAIL -->
        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

                <div class="detail-container" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">

                    <div class="detail-content">
                        <button mat-raised-button color="primary">➕ Ajouter</button>
                    </div>

                </div>

            </td>
        </ng-container>

    </table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

</mat-card>