@if(mobileQuery.matches) {
<div class="topbar horizontal-sidebar p-y-8 ">
  <div class="containerX">
    <div>
      <div class="horizontal-navbar hstack align-items-end">
        @for(item of navItems; track item) {
        <app-horizontal-nav-item
          [item]="item"
          class="parentBox {{ item.ddType }}"
          [ngClass]="{
            pactive: item.route == parentActive ? 'pactive' : ''
          }"
        >
        </app-horizontal-nav-item>
        }
      </div>
    </div>
  </div>
</div>
}
